/* minimalist box css ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* root ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
:root {
  --border-normal:  #1f1f1f;
  --border-active:  #3f3f3f;
  --heading:        #ffffff;
  --text:           #ffffff;
  --link-normal:    #7f7f7f;
  --link-active:    #ffffff;
}

/* html & body ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
html, body{
  margin: 0;
  padding: 0;
  background: url('/style/bg.png');
  background-attachment: fixed;
  color: var(--text);
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar { display: none; }

/* font ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@font-face {
  font-family: 'hack';
  src: url('/style/hack.ttf') format('truetype');
}

* { font-family: 'hack'; font-weight: 100; font-size: 11px; }

/* links ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
a { text-decoration: none; margin: 1px; }
a:link,a:visited { color: var(--link-normal); }
a:hover,a:active { color: var(--link-active); }

/* container ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#container {
  position: absolute;
  padding: 0px 0px 0px 0px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 588px;
  height: auto;
}

@media only screen and (max-width: 592px) {
  #container { width: 294px; }
}

/* columns ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.column {
  position: relative;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  margin: 0px 2px 0px 2px;
  float: left;
  height: auto;
}

.col-1 { width: 584px; } /* 1:1 column */
.col-2 { width: 290px; } /* 2:1 column */
.col-3 { width: 192px; } /* 3:1 column */
.col-4 { width: 143px; } /* 4:1 column */
.col-5 { width: 388px; } /* 3:2 column */
.col-6 { width: 094px; } /* 6:1 column */

@media only screen and (max-width: 592px) {
  [class*="col-"] { width: 290; }
  .col-6 { width: 143; }
}

/* boxes ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.box {
  box-shadow: 1px 1px 10px 0px #000;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  margin: 0px 0px 4px 0px;
  padding: 8px 8px 8px 8px;
  background: repeat;
  /*background-size: 550px 250px;*/
  background-attachment: fixed;
  background-image: url('/style/fg.png');
  border: 2px solid var(--border-normal);
  outline:0;
}
/*,.box:focus*/
.box:hover,.box-active { border: 2px solid var(--border-active); }

/* box headings & lists ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
h1 {
  padding-bottom: 0px;
  margin-bottom: 2px;
  margin-top: 0px;
  color: var(--heading);
}

ul {
  padding: 0px;
  margin: 0px;
}

/* forms ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
form {
  margin: 0px 0px 0px 0px;
  width: auto;
}

input {
  outline: 0px;
  display: inline;
  background: none;
  border-width: 0px;
  border: none;
  color: var(--text);
  width: 100%;
}

textarea {
  /*height:150px;*/
  width:100%;
  color:#ffffff;
  resize: none;
}
/* misc ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
label {
    display:block;
    position:relative;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:5px;
    border:1px solid #CCC;
    cursor:pointer;
    z-index:90;
    color: var(--link-normal);
}

input[type="radio"], input[type="checkbox"] {
  display: none;
  margin: 0px 0px 0px 0px;
  z-index:100;
}


input[type="radio"]:checked ~ *, input[type="checkbox"]:checked ~ * {
  color: var(--link-active);
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#navbar {
  margin: 0px 0px 16px 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    padding: 4px 8px 4px 8px;
    border: 1px solid var(--border-normal);
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.tablebox {
    padding: 0px;
    border: 1px solid var(--border-normal);
}

.tablebox:hover {
    border: 1px solid var(--border-normal);
}
